<header class="app-header">
  <div class="logo">⚡ CodeSync</div>
  <nav class="nav-links">
    <a routerLink="/" routerLinkActive="active" >Home</a>
    @if(!authService.isLogin()){
      <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    }
    @if(authService.isLogin()){
      <a routerLink="/project" routerLinkActive="active">Dashboard</a>
      <a (click)="logout()" >Logout</a>
    }
    
    
  </nav>
</header>
